.tituloPrincipal {
    color: map-get($estilos, color);
    text-align: map-get($estilos, alineacion);
    background-color: map-get($estilos, backColor);
    font-size: 3rem;
    grid-area: titulo;
    margin: 25px;
}

.menuPrincipal ul {
    list-style-type: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    li {
        display: inline-block;
        padding: 0px 7px;
        font-size: 25px;
        text-decoration: none;
    
    }
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

body {
    background-image: url(../multimedia/cancha-tenis-arcilla2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.galeria {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    grid-area: galeria ;


}

.foto1 {
    background-image: url(../multimedia/tenis-imagen-ilustrativa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 30px 40px;

    width: 324px;
    height: 200px;
}

.foto2 {
    background-image: url(../multimedia/gonzalo-facello-1432034.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 30px 40px;
    width: 324px;
    height: 200px;
}

.foto3 {
    background-image: url(../multimedia/lukáš-dlutko-2440324.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 30px 40px;
    width: 324px;
    height: 200px;
}

h3 {
    background-color: rgba(230, 223, 218, 0.733);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-decoration: underline;
    margin: 75px;
}

.aat {
    text-decoration: underline;
    color: rgb(16, 16, 63);
}


.footer {
    display: inline;
}

.redesSociales {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    padding: 10px 10px;

}

.redesSociales img {

    width: 40px;
}


.copyright {
    display: flex;
    justify-content: center;    
    background-color: rgba(175, 194, 211, 0.438);
    padding: 5px;
    border: solid 1px black;
}
